<link rel="stylesheet" href="/css/nothing_display.css" />

<div class="nothing__display">
    <div class="nothing__display__header">
        <h2>Hi!</h2>
        <div class="nothing__display__icon">
            <i class="fas fa-cubes icon__nodisplay"></i>
        </div>
    </div>

    <div class="nothing__display__body">
        <p>{{description}}</p>
    </div>
</div>