.cart {
    margin: 60px 0;
    padding: 20px;
    display: flex;
}

.cart .cart__body {
    width: 800px;
}

.cart__left {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}


.card__right {
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__item {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
}

.cart__item>button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffa500;
    color: #000;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.cart__item>button:last-child {
    right: 60px;
}

.cart__item+.cart__item {
    margin-top: 20px;
}


.cart__item__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart__item__title .cart__product__name span {
    font-size: 1.5rem;
    font-weight: 700;
}

.cart__item__title .cart__product__description span {
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: 700;
    white-space: nowrap;
    overflow: ellipsis;
}

.card__item__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__product__price span {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #ffa500;
    border-radius: 10px;
    padding: 5px 10px;
}

.cart__item__btn {
    display: flex;
    justify-content: center;
    border: 2px solid #ffa500;
    border-radius: 10px;
    overflow: hidden;
}

.cart__item__btn button {
    background-color: #ffa500;
    border: none;
    padding: 2px 10px;
    font-weight: 700;
    cursor: pointer;
}


.cart__item__btn span {
    font-weight: 700;
    padding: 0 15px;
}


.cart .cart__detail {
    margin-left: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    height: fit-content;
    padding: 20px;
}

.cart__products__detail .cart__products__detail__title,
.cart__customer__detail .cart__customer__detail__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.cart__customer__detail__content .cart__customer__detail__item {
    margin: 5px 0;
}

.cart__customer__detail__content .cart__customer__detail__item span:first-child {
    font-weight: 700;
}

#checkout_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}