/*-----------HEADER-----------*/

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: linear-gradient(to right, #FF9800, #000); */
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .header__btn__nav {
    display: none;
    padding: 0 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
}

.header .header__logo {
    height: 100%;
    width: 60px;
    margin: 0 20px;
}

.header .header__logo .header__logo__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo .header__logo__wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header .header__details {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header .header__details .header__nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__details .header__nav .header__nav__item {
    margin: 0 15px;
    text-align: center;
}

.header__details .header__nav .header__nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.header .header__details .header__account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__details .header__account .header__account__item {
    margin: 0 15px;
    text-align: center;
}

.header__details .header__account .header__account__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.header__details .header__account .header__account__item button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.header .header__sidebar {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 150px;
    padding: 10px 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.4s;
}

.header .header__sidebar .header__btn {
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
}

.header .header__sidebar .header__feature {
    color: #fff;
}

.header__sidebar .header__feature .header__item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__sidebar .header__feature .header__item a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 1000px) {
    .header .header__btn__nav {
        display: block;
    }

    .header .header__details {
        display: none;
    }
}