#hehe {
    display: none;
}

.product_banner {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
}

.product_banner .img-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('/images/ProductDetailBackground.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner__temp {
    position: relative;
}

.banner__des {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: rgb(216, 160, 39);
    -webkit-text-stroke: 1px #000;
    /* Màu chữ */
}

.banner__des h1 {
    font-size: 3em;
}

/* Specifications Section */
.specifications {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.specifications__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.specifications__content img {
    width: 300px;
    margin-right: 20px;
}

.table {
    text-align: left;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.product_header {
    margin-top: 100px;
    text-align: center;
}

.product-detail input {
    background: transparent;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 8px 0;
    text-align: center;
    box-sizing: border-box;
}

.product-detail input::-webkit-inner-spin-button,
.product-detail input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Specifications Table */
.specifications-table {
    width: 100%;
    margin-top: 20px;
}

.specifications-table td {
    padding: 8px;
}

.specifications-table .detail {
    text-align: left;
    font-weight: bold;
    width: 50%;
    /* Ensures both columns are balanced */
}

.specifications-table .info {
    text-align: right;
    width: 50%;
}

.sameproduct {
    width: 100%;
}

.sameproduct__header {
    text-align: center;

}