<div class="contact-container">
    <div class="contact container">
        <div class="row">
            <div class="col-lg-7 contact__item">
                <div class="contact__item__title">
                    get in touch
                </div>

                <div class="contact__item__body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Subject</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Message</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>

                <div class="contact__item__button">
                    <button>Send Message</button>
                </div>
            </div>

            <div class="col-lg-5 contact__item">
                <div class="contact__item__title">
                    contact us
                </div>

                <div class="contact__item__body">
                    <div class="contact__item__info">
                        <div class="contact__item__icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="contact__item__text">
                            Address:<br>
                            8 Street, Cu Chi district, Ho Chi Minh city
                        </div>
                    </div>

                    <div class="contact__item__info">
                        <div class="contact__item__icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="contact__item__text">
                            Phone:<br>
                            (+84) 123456789
                        </div>
                    </div>

                    <div class="contact__item__info">
                        <div class="contact__item__icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="contact__item__text">
                            Email:<br>
                            2TLDepzai@gmail.com
                        </div>
                    </div>

                    <div class="contact__item__info">
                        <div class="contact__item__icon">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="contact__item__text">
                            Fanpage:<br>
                            2TLVuotNganChongGai
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
