<div class="method__container">
    <div class="method">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6">
                    <div class="method__form">
                        <div class="method__form__title">
                            <span>Login to your account</span>
                            <p>Get your car by LOGIN to your account now</p>
                        </div>
                        <div class="method__form__input">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" id="login__useraccount" placeholder="Username">
                        </div>
                        <div class="method__form__input">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" id="login__password" placeholder="Password">
                        </div>
                        <div class="method__form__button">
                            <button onclick="javascript:handleSubmitLogin()">Login</button>
                        </div>
                        <div class="method__form__signup mt-3">
                            <span>Don't have an account? <a href="/signup">Signup</a></span>
                        </div>
                        <div class="method__form__oauth mt-4">
                            <hr>
                            <p>Or login with</p>
                            <div class="d-flex justify-content-center gap-3">
                                <button class="btn btn-danger" onclick="handleGoogleLogin()">
                                    <i class="fa-brands fa-google"></i> Login with Google
                                </button>
                                {{!-- <button class="btn btn-primary" onclick="handleFacebookLogin()">
                                    <i class="fa-brands fa-facebook-f"></i> Login with Facebook
                                </button> --}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 method__image method--login">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function handleGoogleLogin() {
        // Xử lý logic đăng nhập qua Google
        console.log("Google login clicked");
        // Redirect hoặc mở popup tương ứng
        window.location.href = 'http://localhost:3000/auth/google'; // Điều hướng đến endpoint xử lý Google OAuth

    }

    function handleFacebookLogin() {
        // Xử lý logic đăng nhập qua Facebook
        console.log("Facebook login clicked");
        // Redirect hoặc mở popup tương ứng
    }
</script>