<div class="method__container">
    <div class="method">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 method__image method--signup">
                </div>
                <div class="col-lg-6">
                    <div class="method__form">
                        <div class="method__form__title">
                            <span>Signup to your account</span>
                            <p>get your car by saving your account now</p>
                        </div>
                        <div class="method__form__input">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" id="signup__username" placeholder="Username">
                        </div>
                        <div class="method__form__input">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="text" id="signup__email" placeholder="Email">
                        </div>
                        <div class="method__form__input">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" id="signup__password" placeholder="Password">
                        </div>
                        <div class="method__form__button">
                            <button onclick="javascript:handleSubmitSignup()">Sign up</button>
                        </div>
                        <div class="method__form__signup">
                            <span>Already have an account? <a href="/login">Login</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>