<!-- About Us Section -->
<section class="about-us text-center mt-5">
  <h2>ABOUT <span class="highlight">US</span></h2>
  <hr class="about-us-divider" />
</section>

<!-- Profile Section -->
<section class="profiles container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 profile-card">
      <div class="profile-photo bg-dark mx-auto mb-3"></div>
      <p class="profile-description">Lorem ipsum is simply dummy text of the
        printing and typesetting industry. Lorem ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
      <p class="profile-name">Laframboise Vy Buoi</p>
      <p class="profile-title">Francés</p>
    </div>
    <div class="col-md-4 profile-card">
      <div class="profile-photo bg-dark mx-auto mb-3"></div>
      <p class="profile-description">Lorem ipsum is simply dummy text of the
        printing and typesetting industry. Lorem ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
      <p class="profile-name">Gwenaël Clérico Nhat Ban</p>
      <p class="profile-title">Francés</p>
    </div>
    <div class="col-md-4 profile-card">
      <div class="profile-photo bg-dark mx-auto mb-3"></div>
      <p class="profile-description">Lorem ipsum is simply dummy text of the
        printing and typesetting industry. Lorem ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
      <p class="profile-name">Gwenaël Clérico Linh</p>
      <p class="profile-title">Francés</p>
    </div>
  </div>
</section>