<!-- About Us Section -->
<section class="about-us text-center mt-5">
  <h2>ABOUT <span class="highlight">US</span></h2>
  <hr class="about-us-divider" />
</section>

<!-- Profile Section -->
{{! <section class="profiles container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 profile-card">
      <div class="profile-photo bg-dark mx-auto mb-3"></div>
      <p class="profile-description">Lorem ipsum is simply dummy text of the
        printing and typesetting industry. Lorem ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
      <p class="profile-name">Laframboise Vy Buoi</p>
      <p class="profile-title">Francés</p>
    </div>
    <div class="col-md-4 profile-card">
      <div class="profile-photo bg-dark mx-auto mb-3"></div>
      <p class="profile-description">Lorem ipsum is simply dummy text of the
        printing and typesetting industry. Lorem ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
      <p class="profile-name">Gwenaël Clérico Nhat Ban</p>
      <p class="profile-title">Francés</p>
    </div>
    <div class="col-md-4 profile-card">
      <div class="profile-photo bg-dark mx-auto mb-3"></div>
      <p class="profile-description">Lorem ipsum is simply dummy text of the
        printing and typesetting industry. Lorem ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
      <p class="profile-name">Gwenaël Clérico Linh</p>
      <p class="profile-title">Francés</p>
    </div>
  </div>
</section> }}

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row d-flex justify-content-between my-4">
      <div class="col-md-4 mb-4">
        <div class="shadow rounded p-5 bg-white">
          <div class="testimony-wrap text-center">
            <div
              class="img__member mb-5"
              style="background-image: url('../images/person_1.jpg')"
            >
            </div>
            <div class="text__member">
              <p class="mb-5">Far far away, behind the word mountains, far from
                the countries Vokalia and Consonantia, there live the blind
                texts. Separated they live in Bookmarksgrove right at the coast
                of the Semantics, a large language ocean.</p>
              <p class="name">Bui Vy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="shadow rounded p-5 bg-white">
          <div class="testimony-wrap text-center">
            <div
              class="img__member mb-5"
              style="background-image: url('../images/person_2.jpg')"
            >

            </div>
            <div class="text">
              <p class="mb-5">Far far away, behind the word mountains, far from
                the countries Vokalia and Consonantia, there live the blind
                texts. Separated they live in Bookmarksgrove right at the coast
                of the Semantics, a large language ocean.</p>
              <p class="name">Duc Nhat</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="shadow rounded p-5 bg-white">
          <div class="testimony-wrap text-center">
            <div
              class="img__member mb-5"
              style="background-image: url('../images/person_3.jpg')"
            >
            </div>
            <div class="text">
              <p class="mb-5">Far far away, behind the word mountains, far from
                the countries Vokalia and Consonantia, there live the blind
                texts. Separated they live in Bookmarksgrove right at the coast
                of the Semantics, a large language ocean.</p>
              <p class="name">Van Linh</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>