<div class="banner">
    <div class="banner__text">
        <h1>CARSHOP</h1>
        <p>YOUR CAR - YOUR JOURNEY</p>
    </div>
    <div class="banner__triangle"></div>
    <div class="banner__car">
        <img src="./images/carBanner.png" alt="Car">
    </div>
</div>


<div class="detail">
    <div class="detail__title">
        <span>ABOUT US</span>
    </div>

    <div class="detail__container container text-center">
        <div class="row">
            <div class="col-lg detail__item">
                <div class="detail__item__icon">
                    <i class="fa-solid fa-car"></i>
                </div>

                <div class="detail__item__title">
                    largest dealership of car
                </div>

                <div class="detail__item__body">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut den fugit sed quia.
                </div>

                <div class="detail__item__line"></div>
            </div>

            <div class="col-lg detail__item">
                <div class="detail__item__icon">
                    <i class="fa-solid fa-car"></i>
                </div>
                <div class="detail__item__title">
                    largest dealership of car
                </div>

                <div class="detail__item__body">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut den fugit sed quia.
                </div>

                <div class="detail__item__line"></div>
            </div>

            <div class="col-lg detail__item">
                <div class="detail__item__icon">
                    <i class="fa-solid fa-car"></i>
                </div>
                <div class="detail__item__title">
                    largest dealership of car
                </div>

                <div class="detail__item__body">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut den fugit sed quia.
                </div>

                <div class="detail__item__line"></div>
            </div>


        </div>
    </div>

</div>