<div class="banner">
  <div class="banner__text">
    <h1>CARSHOP</h1>
    <p>YOUR CAR - YOUR JOURNEY</p>
  </div>
  <div class="banner__triangle"></div>
  <div class="banner__car">
    <img src="./images/carBanner.png" alt="Car" />
  </div>
</div>

<!-- Newest Cars Section -->
<section class="newest-cars text-center py-5">
  <div class="container">
    <h2 class="display-4 text-dark">Newest
      <span class="text-warning">Cars</span></h2>
    <p class="check_latest_text">Checkout the latest cars</p>
    <hr class="newest-cars-divider" />
    <div class="row align-items-center my-4 shadow rounded p-4 bg-white">
      <div class="col-md-6">
        <a href="/product/product_details/prod_1"><img
            src="../images/ncm2.png"
            alt="BMW Series-3"
            class="img-fluid"
          /></a>
      </div>
      <div class="col-md-6 text-start">
        <h3>BMW SERIES-3 DRAGON</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur.</p>
        <a href="/product/product_details/prod_1"><button
            class="btn btn-warning text-white fw-bold"
          >View Details</button></a>
      </div>
    </div>
  </div>
</section>

<!-- Best Selling Products Section -->
<section class="selling-cars text-center py-5">
  <div class="container">
    <h2 class="display-4 text-dark">Best Selling
      <span class="text-warning">Cars</span></h2>
    <p class="check_latest_text">Checkout the latest cars</p>
    <hr class="newest-cars-divider" />
    <div class="row d-flex justify-content-between my-4">
      <div class="col-md-6 mb-4">
        <div class="shadow rounded p-5 bg-white">
          <div class="row align-items-center">
            <div class="col-md-6">
              <a href="/product/product_details/prod_1">
                <img
                  src="../images/fc1.png"
                  alt="BMW Series-3"
                  class="img-fluid"
                />
              </a>
            </div>
            <div class="col-md-6 text-start">
              <h3>BMW SERIES-3 DRAGON</h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
              <a href="/product/product_details/prod_1">
                <button class="btn btn-warning text-white fw-bold">View Details</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="shadow rounded p-5 bg-white">
          <div class="row align-items-center">
            <div class="col-md-6">
              <a href="/product/product_details/prod_2">
                <img
                  src="../images/fc2.png"
                  alt="BMW Series-3"
                  class="img-fluid"
                />
              </a>
            </div>
            <div class="col-md-6 text-start">
              <h3>BMW SERIES-3 DRAGON</h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
              <a href="/product/product_details/prod_2">
                <button class="btn btn-warning text-white fw-bold">View Details</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Discount -->
<section class="customer text-center py-5">
  <div class="container">
    <h2 class="display-4 text-dark">Super
      <span class="text-warning">Sale</span></h2>
    <p class="check_latest_text">Checkout the latest promotion</p>
    <hr class="newest-cars-divider" />
    <div class="owl-carousel owl-theme discounts-wrapper">
      <div
        class="discount-item row align-items-center my-4 shadow rounded p-4 bg-white"
      >
        <div class="col-md-8">
          <a href=""><img
              src="../images/992_cerrera_GTS_details.png"
              alt="Black Friday"
              class="img__sale img-fluid"
            /></a>
        </div>
        <div class="col-md-4 text-start">
          <h3><strong>BLACK FRIDAY SALE !</strong> </h3>
          <h5 class="text-warning"><strong>UP TO 50% OFF</strong></h5>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
      <div
        class="discount-item row align-items-center my-4 shadow rounded p-4 bg-white"
      >
        <div class="col-md-8">
          <a href=""><img
              src="../images/Christmas-Car-Sales-Guide.jpg"
              alt="Black Friday"
              class="img__sale img-fluid"
            /></a>
        </div>
        <div class="col-md-4 text-start">
          <h3><strong>CHRISTMAS SALE !</strong> </h3>
          <h5 class="text-warning"><strong>UP TO 30% OFF</strong></h5>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{! Feed back }}
<section class="customer ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">What Our Customer Says</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-between my-4">
      <div class="col-md-4 mb-4">
        <div class="shadow rounded p-5 bg-white">
          <div class="testimony-wrap text-center">
            <div
              class="cus__img mb-5"
              style="background-image: url('../images/person_1.jpg')"
            >

            </div>
            <div class="cus__text">
              <p class="mb-5">Far far away, behind the word mountains, far from
                the countries Vokalia and Consonantia, there live the blind
                texts. Separated they live in Bookmarksgrove right at the coast
                of the Semantics, a large language ocean.</p>
              <p class="name">Dennis Green</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="shadow rounded p-5 bg-white">
          <div class="testimony-wrap text-center">
            <div
              class="cus__img mb-5"
              style="background-image: url('../images/person_2.jpg')"
            >

            </div>
            <div class="cus__text">
              <p class="mb-5">Far far away, behind the word mountains, far from
                the countries Vokalia and Consonantia, there live the blind
                texts. Separated they live in Bookmarksgrove right at the coast
                of the Semantics, a large language ocean.</p>
              <p class="name">Dennis Green</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="shadow rounded p-5 bg-white">
          <div class="testimony-wrap text-center">
            <div
              class="cus__img mb-5"
              style="background-image: url('../images/person_3.jpg')"
            >
            </div>
            <div class="cus__text">
              <p class="mb-5">Far far away, behind the word mountains, far from
                the countries Vokalia and Consonantia, there live the blind
                texts. Separated they live in Bookmarksgrove right at the coast
                of the Semantics, a large language ocean.</p>
              <p class="name">Dennis Green</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Us Section -->
<div class="detail">
  <div class="detail__title">
    <span>ABOUT US</span>
  </div>

  <div class="detail__container justify-content-between container text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg detail__item">
        <div class="detail__item__icon">
          <i class="fa-solid fa-car"></i>
        </div>

        <div class="detail__item__title">
          largest dealership of car
        </div>

        <div class="detail__item__body">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          den fugit sed quia.
        </div>

        <div class="detail__item__line"></div>
      </div>

      <div class="col-12 col-md-6 col-lg detail__item">
        <div class="detail__item__icon">
          <i class="fa-solid fa-car"></i>
        </div>

        <div class="detail__item__title">
          largest dealership of car
        </div>

        <div class="detail__item__body">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          den fugit sed quia.
        </div>

        <div class="detail__item__line"></div>
      </div>

      <div class="col-12 col-md-6 col-lg detail__item">
        <div class="detail__item__icon">
          <i class="fa-solid fa-car"></i>
        </div>

        <div class="detail__item__title">
          largest dealership of car
        </div>

        <div class="detail__item__body">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          den fugit sed quia.
        </div>

        <div class="detail__item__line"></div>
      </div>
    </div>
  </div>

</div>