<div class="banner">
  <div class="banner__text">
    <h1>CARSHOP</h1>
    <p>YOUR CAR - YOUR JOURNEY</p>
  </div>
  <div class="banner__triangle"></div>
  <div class="banner__car">
    <img src="./images/carBanner.png" alt="Car" />
  </div>
</div>

<!-- Newest Cars Section -->
<section class="newest-cars text-center py-5">
  <div class="container">
    <h2 class="display-4 text-dark">Newest
      <span class="text-warning">Cars</span></h2>
    <p class="check_latest_text">Checkout the latest cars</p>
    <hr class="newest-cars-divider" />
    <div class="row align-items-center my-4 shadow rounded p-4 bg-white">
      <div class="col-md-6">
        <a href="/product/product_details/prod_1"><img
            src="../images/ncm2.png"
            alt="BMW Series-3"
            class="img-fluid"
          /></a>
      </div>
      <div class="col-md-6 text-start">
        <h3>BMW SERIES-3 DRAGON</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur.</p>
        <a href="/product/product_details/prod_1"><button
            class="btn btn-warning text-white fw-bold"
          >View Details</button></a>
      </div>
    </div>
  </div>
</section>

<!-- Best Selling Products Section -->
<section class="newest-cars text-center py-5">
  <div class="container">
    <h2 class="display-4 text-dark">Best Selling
      <span class="text-warning">Cars</span></h2>
    <p class="check_latest_text">Checkout the latest cars</p>
    <hr class="newest-cars-divider" />
    <div class="row align-items-center my-4 shadow rounded p-4 bg-white">
      <div class="col-md-6">
        <a href="/product/product_details/prod_1"><img
            src="../images/ncm2.png"
            alt="BMW Series-3"
            class="img-fluid"
          /></a>
      </div>
      <div class="col-md-6 text-start">
        <h3>BMW SERIES-3 DRAGON</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur.</p>
        <a href="/product/product_details/prod_1"><button
            class="btn btn-warning text-white fw-bold"
          >View Details</button></a>
      </div>
    </div>
  </div>
</section>

<div class="detail">
  <div class="detail__title">
    <span>ABOUT US</span>
  </div>

  <div class="detail__container container text-center">
    <div class="row">
      <div class="col-lg detail__item">
        <div class="detail__item__icon">
          <i class="fa-solid fa-car"></i>
        </div>

        <div class="detail__item__title">
          largest dealership of car
        </div>

        <div class="detail__item__body">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          den fugit sed quia.
        </div>

        <div class="detail__item__line"></div>
      </div>

      <div class="col-lg detail__item">
        <div class="detail__item__icon">
          <i class="fa-solid fa-car"></i>
        </div>
        <div class="detail__item__title">
          largest dealership of car
        </div>

        <div class="detail__item__body">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          den fugit sed quia.
        </div>

        <div class="detail__item__line"></div>
      </div>

      <div class="col-lg detail__item">
        <div class="detail__item__icon">
          <i class="fa-solid fa-car"></i>
        </div>
        <div class="detail__item__title">
          largest dealership of car
        </div>

        <div class="detail__item__body">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          den fugit sed quia.
        </div>

        <div class="detail__item__line"></div>
      </div>

    </div>
  </div>

</div>