.contact-container {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 100%;
    margin: 50px 20px;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    overflow: hidden;
}

.contact .contact__item:last-child {
    background-color: #FF9800;
}

.contact .contact__item:last-child .contact__item__title {
    color: #fff;
}

.contact .contact__item .contact__item__title {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin: 30px 0;
    padding: 0 50px;
    text-transform: uppercase;
}

.contact .contact__item .contact__item__body {
    padding: 0 50px;
}

.contact .contact__item .contact__item__body span {
    border-left: 3px solid #000;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;

    width: 100px;
    background-color: #FF9800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
}

.contact .contact__item .contact__item__body input {
    border: 3px solid #000;
}

.contact .contact__item .contact__item__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.contact .contact__item .contact__item__button button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FF9800;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.contact__item .contact__item__body .contact__item__info {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.contact__item__body .contact__item__info .contact__item__icon {
    margin-right: 10px;
    border-radius: 50%;
    background-color: #3434347a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.contact__item__body .contact__item__info .contact__item__icon i {
    font-size: 18px;
    color: #ffffff79;

}

.contact__item__body .contact__item__info .contact__item__text {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    flex: 3;
}