@import url('https://fonts.googleapis.com/css2?family=VarelaRound:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
}

:root {
    --size-icon: 15px;
    --success-color: #28a745;
    --error-color: #dc3545;
    --warning-color: #ffc107;
    --width-notify: 400px;
    --right-notify: 20px;
}