.banner {
    width: 100%;
    height: 450px;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/bannerBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner__text {
    text-align: center;
    color: #fff;
}

.banner .banner__text h1 {
    font-size: 60px;
    font-weight: 700;
}

.banner .banner__text p {
    font-weight: 700;
    opacity: 0.5;
}

.banner .banner__triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 600px solid transparent;
    /* Horizontal leg of the triangle */
    border-bottom: 200px solid #fff;
    /* Vertical leg and color of the triangle */
}

.banner .banner__car {
    position: absolute;
    right: 150px;
    bottom: 0;
    width: 400px;
    height: 200px;
}

.banner .banner__car img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.detail .detail__title {
    text-align: center;
    margin: 60px 0;
}

.detail .detail__title span {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to right, #FF9800, #000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
}

.detail .detail__title span::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #FF9800, #000);
    bottom: -10px;
}

.detail__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;

}

.detail__container .detail__item {
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 1);
    margin: 0 20px;
}

.detail__item .detail__item__icon {
    font-size: 60px;
    padding: 10px;
    margin: 20px 0;
}


.detail__item .detail__item__title {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: uppercase;
}

.detail__item .detail__item__line {
    height: 3px;
    width: 50%;
    background: linear-gradient(to right, #FF9800, #000);
    margin: 40px auto;
}