.method__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.method {
    width: 100%;
    margin: 50px 100px;
    background-color: #fff;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.6);
    overflow: auto;
}

@media (max-width: 900px) {
    .method {
        margin: 50px 10px;
    }

}

.method__form {
    padding: 30px 0px;
}

/* .method__form::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.method__form::-webkit-scrollbar-thumb {
    background-color: #C5B12D;
    border-radius: 10px;
} */

.method__form .method__form__title {
    margin: 20px 0;
}

.method__form .method__form__title span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #C5B12D;
}

.method__form .method__form__title p {
    font-size: 14px;
    color: #00000077;
    text-transform: uppercase;
    font-weight: 600;
}

.method__form .method__form__input {
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.method__form .method__form__input i {
    font-size: 20px;
    border: 3px solid #000000;
    padding: 5px;
    border-radius: 10px;
}

.method__form .method__form__input input {
    margin-left: 10px;
    padding: 3px 5px;
    outline: none;
    border: 3px solid #000000;
    border-radius: 10px;
}

.method__form .method__form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.method__form .method__form__button button {
    padding: 5px;
    width: 100px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: #C5B12D;
    color: #fff;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.6);
}

.method__form .method__form__signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}


.method__form .method__form__signup a {
    color: #C5B12D;
    font-weight: 700;
}

.method__image {
    height: 400px;

}

.method--login {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/loginBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.method--signup {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/signupBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}