#notify {
    position: fixed;
    top: 20px;
    right: var(--right-notify);
    z-index: 2000;
}

.notify {
    display: flex;
    align-items: center;
    width: var(--width-notify);
    background-color: #fff;
    padding: 15px 0;
    border-radius: 3px;
    border-left: 5px solid;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    transform: translateX(calc(100% + var(--right-notify)));
    animation: showNofi 0.5s forwards, hideNofi 0.5s 3s forwards;
}

@keyframes showNofi {
    from {
        transform: translateX(calc(100% + var(--right-notify)));
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hideNofi {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(calc(100% + var(--right-notify)));
        opacity: 0;
    }
}

.notify .notify__icon,
.notify .notify__close {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-icon);
    width: calc(var(--size-icon) + 5px);
    height: calc(var(--size-icon) + 5px);
    padding: 12px;
    margin: 0 10px;
}

.notify .notify__icon {
    color: #fff;
    background-color: #000000;
    border-radius: 50%;
}

.notify .notify__close {
    transition: all ease 0.3s;
}

.notify .notify__content {
    flex: 1;
}

.notify .notify__content .notify__content__title {
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 5px;
}

.notify .notify__content .notify__content__msg {
    font-size: 0.9em;
    font-weight: 300;
}

.notify+.notify {
    margin-top: 10px;
}

.notify .notify__close:hover {
    cursor: pointer;
    opacity: 0.5;
}

/*----------------SUCCESS----------------*/
.notify--success {
    border-color: var(--success-color);
}

.notify--success .notify__icon {
    background-color: var(--success-color)
}

/*----------------SUCCESS----------------*/

/*----------------ERROR----------------*/
.notify--error {
    border-color: var(--error-color);
}

.notify--error .notify__icon {
    background-color: var(--error-color);
}

/*----------------ERROR----------------*/

/*----------------WARNING----------------*/
.notify--warning {
    border-color: var(--warning-color);
}

.notify--warning .notify__icon {
    background-color: var(--warning-color);
}

/*----------------WARNING----------------*/



#success {
    background-color: var(--success-color);
    color: #000000;
    font-size: 1.5em;
    padding: 20px 20px;
    border-radius: 20px;
    width: 300px;
    font-weight: 900;
    border: 2px solid #000000;
    cursor: pointer;

    margin: 10px;
}

#fail {
    background-color: var(--error-color);
    color: #000000;
    font-size: 1.5em;
    padding: 20px 20px;
    border-radius: 20px;
    width: 300px;
    font-weight: 900;
    border: 2px solid #000000;
    cursor: pointer;

    margin: 10px;
}